body {
    background-color:lightblue
}

h1 {
    color: black;
    text-align: left;
    font-size: 20px;
}

p {
    font-family: Verdana;
    font-size: 12px;
    color: black;
    border: solid;width: 10%;
    text-align: center;  
}

p.round3 {
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
}

ul {
    color: black
}

ol {
    color: white;
    list-style-type: none
}

progress {
    color: white;
}    

a {
    color: black;
    text-align: center;
}

figure {
    background-color: white;
    color: black;
    border:solid;width: 16%;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
}

h3 {
    color: black
}